h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 10px;
  color: #E47F6B;
}

form.editar {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

form.editar input {
  font-size: 1.1em;
  border: 1px solid lightgray;
  padding: 7px;
  border-radius: 10px;
}

form.editar label {
  font-size: 1.2em;
  color: #E47F6B;
  font-weight: bold;
}

div.editar {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;
  margin-top: 10px;
  padding: 20px;
}

input.editar {
  font-weight: bold;
  color: white;
  background-color: #E47F6B;
  padding: 15px;
  border-radius: 15px;
  /* width: 15%; */
  text-align: center;
}

a.editar {
  font-weight: bold;
  color: white;
  background-color: #E47F6B;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

form input.no-mostrar {
  display: none;
}

div.botones-edicion {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form.eliminar {
  width: 100%;
  text-align: center;
}

form.eliminar input {
  font-weight: bold;
  color: white;
  background-color: #AF2B2B;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  border: none;
}

form.eliminar input:hover {
  background-color: #AF1515;  
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.5em;
  }

  form.editar {
    width: 70%;
  }
}

@media only screen and (min-width: 900px) {
  form.editar {
    width: 60%;
  }
}
