footer {
    color: white;
    background-attachment: fixed;
    background-color:#E47F6B;
    background-size: cover;
    background-position: bottom;
    margin-top: 30px;
  }
  footer p {
    color: white;
  }
 footer a {
    color: white;
  }
  .social-pet li {
    display: inline-block;
    margin-right: 10px;
  }
  .social-pet li a {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 35px;
    background-color: #3a5a95;
    color: #fff;
  }
  .social-pet li:nth-child(2) a {
    background-color: #57aced;
    color: #fff;
  }
  .social-pet li:nth-child(3) a {
    background-color: #21A0E0;
    color: #fff;
  }
  .social-pet li:nth-child(4) a {
    background-color: #6b27b2;
    color: #fff;
  }
  .social-pet li a:hover {
    background-color: #0141a2;
    color: #fff;
  }
  .social-pet li a:hover i {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
  footer .input-group-addon {
    background-color: #0141a2;
    padding: 10px 10px 2px 10px;
    border-radius: 0 5px 5px 0;
  }
  .f-address li {
    display: inline-block;
  }
  .f-address li i {
    color: white;
    font-size: 18px;
  }
  .f-address li a {
    color: white;
  }
  .legales i{
    color: orange;
  }
  .copyright {
    background-color: #111;
    padding: 12px 0;
    font-size:14px;
  }
