@import url('header.css');
@import url('footer.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 85px;
}

footer {
  position: absolute;
  bottom:0;
  width: 100%;
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

div.relleno {
  height: 15vh;
}
