/* Banner */
div.banner {
  width: 100%;
  height: 50vh;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div.productos {
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.productosBusc {
  padding-top: 10%
}

a.linkProducto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  border-radius: 30px;
  /* border: 1px darkgray solid; */
  padding: 30px 10px;
  box-shadow: 0 0 15px #ddd;
  margin-top: 20px;
  position: relative;
  color: black;
  width: 100%;
}

  div.productos div.producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    color: inherit;
    /* height: 285px; */
    position: relative;
  }

div.productos div.producto div.imgProducto {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: -20px;
  max-height: 90%;
}

div.productos div.producto div.imgProducto img {
  max-height: 150px;
  border-radius: 10px;
}

div.productos div.producto div.textoProducto {
  display: flex;
  flex-direction: column;
  font-size: 1.05em;
  width: 100%;
}

div.productos div.producto div.textoProducto div.nombre {
  width: 90%;
}

div.productos div.producto div.marca {
  width: 30px;
  position: absolute;
  right: 10%;
}

div.productos div.producto div.marca img {
  width: 100%;
}

div.productos div.producto div.precio span {
  font-weight: medium;
}

div.productos div.producto div.descripcion small {
  color: darkgray;
  text-transform: capitalize;
}

button.controlador-anterior {
  height: 40px;
  width: 50px;
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: rgba(227,127,107,0.1);
  border: none;
  outline: none;
}

button.controlador-siguiente {
  height: 40px;
  width: 50px;
  position: absolute;
  right: 0;
  z-index: 10;
  background-color: rgba(227,127,107,0.1);
  border: none;
  outline: none;
}

button i {
  color: darkgray;
}

a.editar{
  float: right;
      font-weight: bold;
      color: white;
      background-color: #E47F6B;
      padding: 15px;
      border-radius: 15px;
  }

div.editar{
  overflow: hidden;
  margin-top: 10px;
}

ul.pagination {
  justify-content: center;
  margin-top: 1rem;
}

.page-link {
  outline: none;
  color: #E47F6B;
}

.page-link:hover {
  outline: none;
  color: #E47F6B;
  font-size: 1.1em;
}

.page-link:active {
  outline: none;
}

.page-link:focus {
  outline: none;
}

.page-item.active .page-link {
  background-color: #E47F6B;
  border-color: white;
  outline: none;
}

/* Media Queries */
@media only screen and (min-width: 450px) {
  a.linkProducto {
    height: 285px;
    padding: 40px 10px;
    display: flex;
    align-items: center;
  }

  a.linkProducto .textoProducto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  div.productos div.producto {
    width: 48%;

  }
}

@media only screen and (min-width: 650px) {
  div.productos div.producto {
    width: 42%;
  }
}

@media only screen and (min-width: 900px) {
  div.productos div.producto {
    width: 28%;
    max-width: 230px;
  }

  div.productos div.producto a.linkProducto:hover {
    box-shadow: 0 0 15px #C4C4C4;
  }

  div.producto button.controlador-anterior {
    display: none;
  }

  div.producto button.controlador-siguiente {
    display: none;
  }
}

div.relleno {
  display: none;
}

@media only screen and (min-width: 1550px) {
  div.productos div.producto {
    width: 20%;
  }

}
