div.relleno {
  height: 11vh;
}

div.producto {
  position: relative;
}

div.imagenes {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

div.imagenes img {
  max-height: 180px;
  width: auto;
}

div.marca {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

div.marca-img {
  width: 10%;
}

div.marca-img img {
  width: 100%;
}

.control-carrousel {
  height: 50px;
  width: 50px;
  box-shadow: none;
}

#anterior {
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: rgba(227,127,107,0.1);
  border: none;
}

#siguiente {
  position: absolute;
  right: 0;
  z-index: 10;
  background-color: rgba(227,127,107,0.1);
  border: none;
}

div.texto-producto {
  padding: 15px;
}

div.texto-producto h1 {
  font-size: 2em;
}

div.texto-producto h2 {
  font-size: 1.5em;
}

p.stock {
  color: green;
  font-weight: bold;
}

p.stock.sin {
  color:red;
}

p.stock.ultimo {
  color:orangered;
}

div.texto-producto h3 {
  font-size: 1.5em;
}

p.descripcion {
  margin-bottom: 0;
}

div.cantidad-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

input#cantidad {
  height: 30px;
}

button.control-cantidad {
  width: 30px;
  height: 30px;
}

div.error-cantidad {
  width: 100%;
}


div.error-cantidad p {
  color: red;
  text-align: center;
  margin-bottom: 0;
}

/* AGREGAR AL CARRITO */

form.agregar-carrito input.producto_id {
  display: none;
}

form.agregar-carrito div.cantidad-container {
  width: 90%;
  background-color: #F7F7F7;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
}

form.agregar-carrito div.cantidad-container input#cantidad {
  width: 50%;
}

form.agregar-carrito div.cantidad-container label[for='cantidad'] {
  margin-bottom: 0;
}

form.agregar-carrito button.agregar {
  width: 90%;
  background-color: #EBA495;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  padding: 5px;
  height: auto;
  border: none;
  margin: 0 auto;
  display: block;
}

/* RELACIONADO */

div.relacionado {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.relacionado div.marca-relacionado {
  width: 10%;
  position: absolute;
  right: 0;
  top:0;
}

div.relacionado div.marca-relacionado img {
  width: 100%;
}

div.relacionado div.img-relacionado {
  height: 210px;
  width: 100%;
}

div.relacionado div.img-relacionado img {
  max-height: 100%;
}

div.relacionado div.texto-relacionado {
  text-align: center;
}

div.relacionado div.texto-relacionado p {
  color: slategray;
  font-size: 1.3em;
}


/* MEDIA QUERIES */

@media (min-width: 768px) {
  div.tablet {
    display: flex;
    flex-direction: row;
  }
  div.imagenes {
    width: 55%;
  }
  div.derecha {
    display: flex;
    flex-direction: row;
  }
  div.marca {
    position: relative;
    width: 60px;
  }
  div.marca div.marca-img {
    width: 100%;
  }
  div.texto-producto {
    padding: 0 15px;
  }
  form.agregar-carrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
  }
  form.agregar-carrito div.cantidad-container {
    padding: 20px 10px;
    margin: 0;
    margin-bottom: 0;
    width: 40%;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 15px;
  }

  form.agregar-carrito div.form-cantidad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  form.agregar-carrito button.agregar {
    width: 40%;
    height: 55px;
  }
}
